*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    height: 70px;

}

ul{
    display: flex;
    gap: 15px;
}

li{
    list-style: none;
    letter-spacing: 1px;
    opacity: 0.91;
}

img{
    height: 25px;
}