*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
    height: 70px;

}

ul{
    display: flex;
    gap: 15px;
}

li{
    list-style: none;
    letter-spacing: 1px;
    opacity: 0.91;
}

img{
    height: 25px;
}
.burger{
    display: none;
}

.burger>div{
    
    
    top:20px;
    width: 20px;
    height: 4px;
    background-color: black;
    opacity: .6;
    margin: 3px;
    border-radius: 2.5px;


}




 @media screen and (max-width:1000px){
    img{
        height: 10px;
    }
    li{
        font-size: 12px;
    }

    ul{
        gap:10px
    }
} 

@media screen and (max-width:700px){

    .menu{
        display: none;
    }
    .burger{
        display: block;
    }
    
     nav{
         padding-left: 15px; 
        padding-right: 15px; 
        justify-content:space-between;
    } 

    img{
        height: 15px;
    }

    li{
        font-size: 12.5px;
        font-weight: 500;
    }
    
}

